#SOURCE INSIGHT PRO
*.I*
*.P*
*.SearchResults
*.WK3
.svn

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
# driver files
*.cmd
*.tmp_versions
Module.symvers
modules.order
*.mod.*


# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
